.home {
  width: 100%;
}

a {
  text-decoration: none;
}

.link {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.text__game {
  color: white;
}

.imgGame {
  width: 300px;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.imgGame :hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

