.app {
  text-align: center;
  background-image: url("https://salamancaymas.es/wp-content/uploads/juegos-reunidos.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.text {
  color: black;
  -webkit-text-stroke: 2px white;
  font-size: 60px;
  font-weight: bold;

  &__secondary {
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 20px;
  }
}
